/* .containerimages {
    margin-left: 150px;
  }
*/
/* ********************** */

/* Shadab's Code */
.mainContainer {
  display: none;
}

.mainTraining {
  max-width: 100%;
  width: 100%;
  padding: 30px 160px;
}

.Row1,
.Row2,
.Row3,
.Row4 {
  margin: 0px 0px 50px 0px;
  width: auto;
}

.Row1 {
  background-image: url("https://drive.google.com/uc?id=1fLWLZn7phXdIVHXRV2tce6N91SH73J-6");
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.Row2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-image: url("https://drive.google.com/uc?id=1C0_ElA3Vqe2lN7cRTwvjJdSKyQ02gZ8k");
}

.Row3 {
  background-image: url("https://drive.google.com/uc?id=13PQzs1s1tx85yBkYwiswLBHB7BQabT2j");
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.Row4 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-image: url("https://drive.google.com/uc?id=1JXc-HcF6gmJriC3-426A-jON98heQf6W");
}

/* ********************** */
.topimage {
  max-width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.bottomimage {
  max-width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.containertext {
  text-align: center;
  margin: 15px 0px 0 0px;
}

.previous,
.next {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  background: none;
  color: darkgreen;
  text-decoration: underline;
  border: none;
}

.container1 {
  display: block;
  position: relative;
  /*
      border: 1px solid black;
      background-color: blanchedalmond; */
  margin: 0px 0px;
}

.container2,
.container3,
.container4 {
  position: relative;
  display: none;
  /*
      border: 1px solid black;
      background-color: blanchedalmond; */
  margin: 0px 0px;
}

.header {
  padding: 20px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  background-image: url("https://drive.google.com/uc?id=13PQzs1s1tx85yBkYwiswLBHB7BQabT2j");
}

@media screen and (max-width: 999px) {
  .mainTraining {
    padding: 30px 30px;
  }

  .containertext {
    margin: 0px;
  }

  .Row1 {
  }

  .Row2 {
  }
}

@media screen and (max-width: 767px) {
  .mainTraining {
    display: none;
  }

  .mainContainer {
    height: 100vh;
    width: 100%;
    display: block;
  }

  .container1 {
    position: relative;
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 50px;
    border-radius: 15px 15px 0 0;
    background: url("https://drive.google.com/uc?id=13PQzs1s1tx85yBkYwiswLBHB7BQabT2j");
  }

  .container1:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .front1{
    height: 510px;
  }

  .imagePart img {
    position: relative;
    width: 280px;
    z-index: 1;
    border-radius: 15px 15px 0 0;
  }

  .heading h1 {
    margin-top: 35px;
    font-size: 28px;
    width: 280px;
    margin-left: 3px;
    height: auto;
  }

  .border {
    position: relative;
    width: 25%;
    height: 6px;
    background-color: green;
    margin-left: 10px;
  }

  .contentDetails p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    word-spacing: 0px;
  }

  .buttons {
    position: relative;
    justify-content: space-around;
    bottom: 10px;
  }

  .next {
    position: absolute;
    right: 0px;
    top: 4px;
    width: 60px;
    border: none;
    background: transparent;
    color: green;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .next:hover {
    text-decoration: underline;
  }

  .previous {
    border: none;
    width: 85px;
    background: transparent;
    margin-left: -170px;
    font-size: 15px;
    color: green;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .previous:hover {
    text-decoration: underline;
  }

  .container2 {
    position: relative;
    width: 280px;
    z-index: 10;
    display: none;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 50px;
    min-height: 450px;
    border-radius: 15px 15px 0 0;
    background: url("https://drive.google.com/uc?id=1C0_ElA3Vqe2lN7cRTwvjJdSKyQ02gZ8k");
  }

  .container2:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .front2{
    height: 510px;
  }

  .container3 {
    position: relative;
    width: 280px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 50px;
    min-height: 450px;
    border-radius: 15px 15px 0 0;
    background: url("https://drive.google.com/uc?id=1JXc-HcF6gmJriC3-426A-jON98heQf6W");
  }

  .container3:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .front3{
    height: 510px;
  }

  .container4 {
    position: relative;
    width: 280px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 50px;
    min-height: 450px;
    border-radius: 15px 15px 0 0;
    background: url("https://drive.google.com/uc?id=1fLWLZn7phXdIVHXRV2tce6N91SH73J-6");
  }

  .container4:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .front4{
    height: 510px;
  }

  .container5 {
    position: relative;
    width: 280px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 50px;
    min-height: 450px;
    border-radius: 15px 15px 0 0;
    background: url("https://drive.google.com/uc?id=13PQzs1s1tx85yBkYwiswLBHB7BQabT2j");
  }

  .container5:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .container5 .heading h1 {
    font-size: 23px;
  }

  .front5{
    height: 510px;
  }

  .para5 {
    margin-top: 75px;
  }

  .container6 {
    position: relative;
    width: 280px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 50px;
    min-height: 450px;
    border-radius: 15px 15px 0 0;
    background: url("https://drive.google.com/uc?id=1C0_ElA3Vqe2lN7cRTwvjJdSKyQ02gZ8k");
  }

  .container6:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .front6{
    height: 510px;
  }

  .container7 {
    position: relative;
    width: 280px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 50px;
    min-height: 450px;
    border-radius: 15px 15px 0 0;
    background: url("https://drive.google.com/uc?id=1JXc-HcF6gmJriC3-426A-jON98heQf6W");
  }

  .container7:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .front7{
    height: 510px;
  }

  .para7 {
    margin-top: 45px;
  }
}
