.Section {
    margin-bottom: 10%;
}

.HeadText {
    font-family: 'GlacialIndifferenceRegular';
    color      : #625D5D;
    font-size  : 3.5vw;
}

.HeadLine {
    width     : 72%;
    margin-top: -5.5%;
    float     : right;
    border-top: 7px solid #c0bcbc69;
    position  : relative;
}

.tileBox {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    margin-top     : 50px;
}

.tile {
    padding             : 25px;
    font-size           : 2vw;
    font-weight         : 600;
    margin              : 2vw;
    width               : 200px;
    height              : auto;
    text-align          : center;
    background-repeat   : no-repeat;
    background-size     : cover;
    /* box-shadow       : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow          : rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    transition          : transform 0.2s ease-in-out;
}

.tile:hover {
    transform : scale(0.9);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor    : pointer;
}

@media only screen and (max-width: 900px) {
    .HeadText {
        font-size: 8vw;
    }

    .HeadLine {
        width     : 48%;
        margin-top: -3vh;
        float     : right;
        border-top: 4px solid #D9D9D9;
    }

    .tile {
        padding  : 3vw;
        font-size: 3vw;
        width    : 23vw;
    }
}