/* red */
/* https://drive.google.com/uc?id=1JXc-HcF6gmJriC3-426A-jON98heQf6W" */
/*yellow  */
/* https://drive.google.com/uc?id=1C0_ElA3Vqe2lN7cRTwvjJdSKyQ02gZ8k */
/* green */
/* https://drive.google.com/uc?id=13PQzs1s1tx85yBkYwiswLBHB7BQabT2j */
/* blue */
/*https://drive.google.com/uc?id=1fLWLZn7phXdIVHXRV2tce6N91SH73J-6 */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Noto+Sans+HK&display=swap");
.Project2Headhr{
    height: 1rem;
    background-color: rgb(143, 132, 132);
}
h1,h3{
    font-family:  "Cormorant Garamond", serif;
    font-weight: bolder;
    right:0;
}
.Project2Head>h1{
    position: relative;
    right: 0;
    width: 19.5rem;
    margin: 0;
    font-size:40px;
    padding: 0;
}
.P4>img,.P5>img
,.P6>img,.P7>img,.P8>img,.P9>img,.P10>img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.P4Col {
  background-image: url("https://drive.google.com/uc?id=1JXc-HcF6gmJriC3-426A-jON98heQf6W");

  padding: 1rem;
}
.P4,.P5,.P6,.P7,.P8,.P9,.P10 {
  background-color: white;
}
.P4>img,.P5>img,.P6>img,.P7>img,.P8>img{
    width:180px;
    height:180px;
    opacity: 0.8;
    position: relative;
    bottom: 20px
}
.P4>h3,.P5>h3,.P6>h3,.P7>h3,.P8>h3{
  position:relative;
  top: 90px;
  text-align:center;
  z-index:1;
  font-size:40px;
}
.P10{
  display: flex;  /*2 img*/
  height:100%;
}
.P10>img{          
  margin:0;       /*2 img*/
  bottom:-20px;
}
.P9>img,.P10>img{
    width:200px;
    height: 180px;
    opacity: 0.8;
    position: relative;
    
}
.P9>img{
  bottom: 20px;
}
.P9>h3,.P10>h3{
    position:relative;
    top: 100px;
   text-align: center;
   font-size:40px;
    z-index:1;
}
.P5Col {
  background-image: url("https://drive.google.com/uc?id=13PQzs1s1tx85yBkYwiswLBHB7BQabT2j");
  padding: 1rem;
}

.P6Col {
  background-image: url("https://drive.google.com/uc?id=1JXc-HcF6gmJriC3-426A-jON98heQf6W");
  padding: 1rem;
}

.P7Col {
  background-image: url("https://drive.google.com/uc?id=1C0_ElA3Vqe2lN7cRTwvjJdSKyQ02gZ8k");

  padding: 1rem;
}

.P8Col {
  background-image: url("https://drive.google.com/uc?id=1C0_ElA3Vqe2lN7cRTwvjJdSKyQ02gZ8k");

  padding: 1rem;
}

.P9Col {
  background-image: url("https://drive.google.com/uc?id=13PQzs1s1tx85yBkYwiswLBHB7BQabT2j");
  padding: 1rem;
}

.P10Col {
  background-image: url("https://drive.google.com/uc?id=1fLWLZn7phXdIVHXRV2tce6N91SH73J-6");
  padding: 1rem;
}
@media screen and (max-width:1200px) and (min-width:996px) {
  
    .P4>img,.P5>img,.P6>img,.P7>img,.P8>img{
        width: 140px;
        bottom: 20px;
    }
    
}
@media screen and (max-width:995px) and (min-width:992px) {
    .P7>img{
      width:300px; 
    }
}
@media screen and (max-width:992px) and (min-width:768px) {
  .P10>img{          
    margin-right:auto; 
    margin-left:auto;      /*2 img*/
    bottom:0px;
  }   

}
@media screen and (max-width:767px) and (min-width:576px) {
    .P7>img{
      width:180px;
    }
    .P10>img{          
      margin-right:auto; 
      margin-left:auto;      /*2 img*/
      bottom:0px;
    }   
}
@media screen and (max-width:575px) and (min-width:456px) {
    .P7>img{
      width:180px;
    }
    .P10>img{          
      margin-right:auto; 
      margin-left:auto;      /*2 img*/
      bottom:0px;
      width:120px;
    }   
}
@media screen and (max-width:455px) {

    h1{
       text-align: center;
   }
    .P7>img,.P9>img,.P10>img{
        width:180px;
    }
    .P10>img{          
      margin-right:auto; 
      margin-left:auto;      /*2 img*/
      bottom:0px;
      width:100px;
    }
    .P10>h3{
      font-size:30px;
    }   
   
}
@media screen and (max-width:360px) {
 .P4Col,.P5Col,.P6Col,.P7Col,.P8Col,.P9Col,.P10Col{
      display:flex;
      justify-content: center;
  }
 .P4>img, .P5>img,.P6>img,.P7>img,.P8>img,.P9>img,.P10>img{
        width:150px;
        height:150px;
    }
     
   .P4>h3,.P5>h3,.P6>h3,.P7>h3,.P8>h3,.P9>h3,.P10>h3{
       top:80px
   }
   .P10>img{          
    margin-right:auto; 
    margin-left:auto;      /*2 img*/
    bottom:0px;
    width:40px;
    height:150px;
  }

  .P10>h3{
    font-size:30px;
  }   
 }