@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

.mainDCardContainer {
  height: 100vh;
  width: 100%;
}

.DCardContainer1Main {
  position: relative;
  margin: auto;
  top: 50px;
  height: 80%;
  width: 80%;
  background-color: rgba(128, 128, 128, 0.24);
  z-index: 1;
  /* clip-path: polygon(10% 10%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 10% 10%, 10% 10%); */
}

.DCardContainer1 {
  position: relative;
  margin: auto;
  top: 100px;
  height: 300px;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: blanchedalmond;
  z-index: 2;
}

.imageContainer {
  width: 120px;
  padding: 0px;
}

.imageContainer img {
  position: absolute;
  width: 230px;
  height: 100%;
}

.detailsContainer {
  margin-top: 15px;
  font-family: "Playfair Display", serif;
  padding-right: 20px;
  padding-left: 0px;
}

.detailsContainer h1 {
  margin-top: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 38px;
}

.detailsContainer p {
  word-spacing: 5px;
  margin-left: 20px;
  font-size: 20px;
  text-align: justify;
}

.containerButtonNext {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: transparent;
  border: none;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(3, 165, 3);
  cursor: pointer;
}

.containerButtonPrev {
  position: absolute;
  bottom: 12px;
  background: transparent;
  border: none;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(3, 165, 3);
  cursor: pointer;
}

.containerButton:hover {
  text-decoration: underline;
}

.DCardContainer2 {
  position: relative;
  margin: auto;
  top: 100px;
  height: 300px;
  width: 70%;
  display: none;
  grid-template-columns: 1fr 2fr;
  background: blanchedalmond;
  z-index: 2;
}

.DCardContainer3 {
  position: relative;
  margin: auto;
  top: 100px;
  height: 300px;
  width: 70%;
  display: none;
  grid-template-columns: 1fr 2fr;
  background: blanchedalmond;
  z-index: 2;
}

.DCardContainer4 {
  position: relative;
  margin: auto;
  top: 100px;
  height: 300px;
  width: 70%;
  display: none;
  grid-template-columns: 1fr 2fr;
  background: blanchedalmond;
  z-index: 2;
}

.DCardContainer5 {
  position: relative;
  margin: auto;
  top: 100px;
  height: 300px;
  width: 70%;
  display: none;
  grid-template-columns: 1fr 2fr;
  background: blanchedalmond;
  z-index: 2;
}

.DCardContainer6 {
  position: relative;
  margin: auto;
  top: 100px;
  height: 300px;
  width: 70%;
  display: none;
  grid-template-columns: 1fr 2fr;
  background: blanchedalmond;
  z-index: 2;
}

.DCardContainer7 {
  position: relative;
  margin: auto;
  top: 100px;
  height: 300px;
  width: 70%;
  display: none;
  grid-template-columns: 1fr 2fr;
  background: blanchedalmond;
  z-index: 2;
}

.DCardContainer8 {
  position: relative;
  margin: auto;
  top: 100px;
  height: 300px;
  width: 70%;
  display: none;
  grid-template-columns: 1fr 2fr;
  background: blanchedalmond;
  z-index: 2;
}

.DCardContainer9 {
  position: relative;
  margin: auto;
  top: 100px;
  height: 300px;
  width: 70%;
  display: none;
  grid-template-columns: 1fr 2fr;
  background: blanchedalmond;
  z-index: 2;
}

.DCardContainer10 {
  position: relative;
  margin: auto;
  top: 100px;
  height: 300px;
  width: 70%;
  display: none;
  grid-template-columns: 1fr 2fr;
  background: blanchedalmond;
  z-index: 2;
}

.DCardContainer11 {
  position: relative;
  margin: auto;
  top: 100px;
  height: 300px;
  width: 70%;
  display: none;
  grid-template-columns: 1fr 2fr;
  background: blanchedalmond;
  z-index: 2;
}

@media screen and (min-width: 1350px) {
    .DCardContainer1,
    .DCardContainer2,
    .DCardContainer3,
    .DCardContainer4,
    .DCardContainer5,
    .DCardContainer6,
    .DCardContainer7,
    .DCardContainer8,
    .DCardContainer9,
    .DCardContainer10,
    .DCardContainer11 {
      width: 80%;
    }

    .detailsContainer {
      padding-right: 20px;
    }
}


@media screen and (max-width: 1200px) {
  .DCardContainer1,
  .DCardContainer2,
  .DCardContainer3,
  .DCardContainer4,
  .DCardContainer5,
  .DCardContainer6,
  .DCardContainer7,
  .DCardContainer8,
  .DCardContainer9,
  .DCardContainer10,
  .DCardContainer11 {
    width: 75%;
  }
}

@media screen and (max-width: 992px) {
  .DCardContainer1,
  .DCardContainer2,
  .DCardContainer3,
  .DCardContainer4,
  .DCardContainer5,
  .DCardContainer6,
  .DCardContainer7,
  .DCardContainer8,
  .DCardContainer9,
  .DCardContainer10,
  .DCardContainer11 {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 951px) {
  .detailsContainer h1 {
    font-size: 35px;
  }

  .detailsContainer p {
    font-size: 18px;
  }
}

@media screen and (max-width: 950px) and (min-width: 768px) {
  .DCardContainer1,
  .DCardContainer2,
  .DCardContainer3,
  .DCardContainer4,
  .DCardContainer5,
  .DCardContainer6,
  .DCardContainer7,
  .DCardContainer8,
  .DCardContainer9,
  .DCardContainer10,
  .DCardContainer11 {
    width: 100%;
  }

  .detailsContainer h1 {
    font-size: 32px;
  }

  .detailsContainer p {
    font-size: 17px;
  }
}

@media screen and (min-width: 651px) and (max-width: 767px) {
  .imageContainer img {
    width: 180px;
  }

  .detailsContainer h1 {
    font-size: 32px;
  }

  .detailsContainer p {
    font-size: 17px;
  }
}

@media screen and (max-width: 650px) {
  .mainDCardContainer {
    display: none;
  }
}
