@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Noto+Sans+HK&display=swap");

.sec5bgimage {
  z-index: -1;
  margin-left: 230px;
  margin-top: 5px;
  width: 70%;
  transition: 300ms ease-in-out;
  justify-content: center;
  align-items: center;
}

.sec5bgimage:hover {
  z-index: 3;
  transform: scale(1.1);
}

.section5 {
  z-index: 2;
  font-size: 25px;
  margin-top: -40px;
  margin-bottom: 50px;
  background-size: 100% 90%;
  height: auto;
  /* background-image: url('./AboutUsImages/backRed.png'); */
  background-image: url("https://drive.google.com/uc?id=1JXc-HcF6gmJriC3-426A-jON98heQf6W");
  position: relative;
}

.para1 {
  padding: 50px 80px 50px 80px;
  margin-bottom: 0px;
  text-align: justify;
  font-size: 21px;
  font-family: "Noto Sans HK", "Source Sans Pro";
  word-spacing: 5px;
  /* font-weight: bolder; */
}

.sec6img {
  height: 400px;
  margin-left: 40px;
  transition: 300ms ease-in-out;
}

.sec6img:hover {
  transform: scale(1.1);
}

.sec6box {
  height: 43px;
  width: 180px;
  margin-left: 150px;
  /* background-image: url('./AboutUsImages/backRed.png'); */
  background-image: url("https://drive.google.com/uc?id=1JXc-HcF6gmJriC3-426A-jON98heQf6W");
  background-size: 50% 90%;
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(0%, -30%);
  font-size: 23px;
}

@media screen and (min-width: 1590px) {}

@media screen and (min-width: 1450px) and (max-width: 1589px) {}

@media screen and (min-width: 1300px) and (max-width: 1449px) {
  .sec5bgimage {
    z-index: -1;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 70%;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    margin-bottom: 0px;
  }

  .section6 {
    margin: 30px 30px 30px 30px;
  }

  .sec6img {
    height: 300px;
    margin-left: 40px;
  }

  .sec6box {
    transform: translate(-25%, -20%);
    font-size: 23px;
  }
}

@media screen and (min-width: 1260px) and (max-width: 1299px) {
  .sec5bgimage {
    margin-top: 5px;
    width: 70%;
    margin-left: 200px;
  }

  .section5 {
    font-size: 2rem;
  }

  .para1 {
    padding: 50px 60px 50px 60px;
    margin-bottom: 0px;
    font-size: 19px;
    word-spacing: 5px;
  }

  .sec6img {
    height: 300px;
    margin-left: 60px;
  }

  .sec6box {
    transform: translate(-20%, -20%);
  }
}

@media screen and (min-width: 1126px) and (max-width: 1259px) {
  .sec5bgimage {
    z-index: -1;
    margin-left: 10%;
    margin-top: 5px;
    width: 80%;
  }

  .section5 {
    font-size: 25px;
    width: 100%;
  }

  .para1 {
    padding: 50px 80px 50px 80px;
    font-size: 18px;
  }

  .sec6img {
    height: 300px;
    margin-left: 30px;
  }

  .sec6box {
    transform: translate(-29%, -20%);
  }
}

@media screen and (min-width: 1000px) and (max-width: 1125px) {
  .sec5bgimage {
    width: 70%;
    margin-left: 14%;
  }

  .section5 {
    font-size: 25px;
    height: auto;
    width: 101%;
  }

  .para1 {
    font-size: 17px;
  }

  .sec6img {
    height: 250px;
    justify-content: none;
    align-items: left;
    margin-left: 45px;
  }

  .sec6box {
    height: 35px;
    transform: translate(-30%, -30%);
    font-size: 20px;
    margin-left: 140px;
    width: 130px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1050px) {}

@media screen and (min-width: 769px) and (max-width: 999px) {
  .sec5bgimage {
    margin-left: 15%;
    width: auto;
    margin-right: 30px;
    margin-top: 10px;
    width: 70%;
  }

  .section5 {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .para1 {
    font-size: 16px;
    padding: 20px 60px 20px 60px;
  }

  .section6 {
    padding-top: 0px;
  }

  .sec6img {
    margin-top: 20px;
    height: 200px;
    align-items: left;
    margin-left: 40px;
  }

  .sec6box {
    height: 30px;
    width: 100px;
    transform: translate(10%, -30%);
    font-size: 17px;
    align-items: center;
    margin-left: 80px;
  }
}

@media screen and (width: 768px) {
  .sec5bgimage {
    width: 80%;
    margin-left: 11%;
  }

  .section5 {
    width: 102%;
    height: auto;
    margin-right: 0;
  }

  .para1 {
    font-size: 16px;
    padding: 20px 80px 20px 80px;
  }

  .sec6img {
    height: 200px;
    margin-left: 25px;
  }

  .sec6box {
    height: 31px;
    width: 80px;
    transform: translate(-80%, -30%);
    font-size: 16px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .sec5bgimage {
    padding: 10px 10px;
    margin-right: 20px;
    margin-left: 0px;
    width: 100%;
  }

  .sec5bgimage:hover {
    transform: none;
  }

  .section5 {
    width: auto;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
  }

  .para1 {
    font-size: 18px;
    padding: 20px;
  }

  .sec6img {
    height: 150px;
    margin-left: 20px;
  }

  .sec6box {
    height: 24px;
    width: 70px;
    transform: translate(10%, -30%);
    font-size: 13px;
    align-items: center;
    margin-left: 50px;
  }
}

@media screen and (max-width: 575px) {
  .sec5bgimage {
    margin-top: 0px;
    width: 90%;
    margin-right: 2rem;
    margin-left: 1.5rem;
    justify-content: center;
  }

  .sec5bgimage:hover {
    transform: none;
  }

  .section5 {
    margin-top: 10px;
    width: auto;
    height: auto;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .para1 {
    font-size: 16px;
    padding: 20px 20px;
  }

  .sec6img {
    height: 280px;
    margin-right: 20px;
    margin-left: 20%;
    margin-top: 0px;
  }

  .sec6box {
    height: 30px;
    width: 100px;
    transform: translate(40%, -30%);
    font-size: 18px;
    align-items: center;
  }
}

@media screen and (max-width: 444px) {
  .para1 {
    font-size: 1rem;
    text-align: left;
    padding: 15px;
  }


  .sec6img {
    margin-left: 20%;
  }

  .sec6box {
    transform: translate(20%, -30%);
  }
}

@media screen and (max-width: 360px) {}
